body {
  padding: 2em;
}
.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

/*We tell all items to be 100% width, via flex-basis */
.wrapper > * {
  flex: 1 100%;
}

.header {
  background: rgb(88, 21, 11);
}

.footer {
  background: rgb(10, 0, 0);
  color: aliceblue;
}
.main {
  background: rgb(168, 183, 189);
  text-align: left;
}
.aside-1 {
  background: gold;
}
.aside-2 {
  background: violet;
}

@media all and (min-width: 800px) {
  .main {
    flex: 3 0px;
  }
  .aside-1 {
    order: 1;
  }
  .main {
    order: 2;
  }
  .aside-2 {
    order: 2;
  }
  .footer {
    order: 4;
  }
}

@media all and (min-width: 600px) {
  .aside {
    flex: 1 auto;
  }
}
